@charset "UTF-8";
/*Configurações para tablet*/
@media screen and (min-width:768px) {

    main {
        display: grid;
        grid-template-columns: 25% 1fr;
        gap: 20px;
        grid-template-rows: repeat(3, auto);
    }

    #myinformation {
        grid-column: 1;
        position: fixed;   
        left: 0;
        width: 25%;
        padding: 15px;
        margin: 10px;
        grid-row-end: 3;
        border-radius: 6px 0px 0px 0px !important;

    }
    #myinformation > h1 {
        font-size: 1.2em;
        margin-bottom: 0px;
    }

    .icon {
        margin-top: 2px;
    }

    #myinformation  > p {
        text-align: justify;
        line-height: 1.3em;
        font-size: 0.65em;
    }

    section#myinformation > img {
        width: 125px;
    }


    #presentation {
        margin-top: 20px;
        grid-column: 2;
        margin-left: 10px;
        margin-right: 10px;
    }

    #myskills {
        grid-column: 2;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .lado {
        display: grid;  
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto auto ;  
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
    }
    
    #education {
        grid-column: 2;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
        
    } 
    
    #projectos {
        grid-column: 2;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    #projectos div.item2 {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    #projectos img {
        flex: 1 1 100px;
        width: 25%;

    }

    .content {
        margin-left: 5px;
    }


}