@charset "UTF-8";
/*Mobile first*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-normal);
}

:root {
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-principal: #f5f5f5;
    --fundo-card: rgb(238, 238, 238);
    --texto: #222222;
    --texto-inverso: #ffffff;
    --fundo-card:#ffffff;

    --fonte-destaque: "Poppins", sans-serif;
    --fonte-normal: "Roboto", sans-serif;
}

body.escuro {
    --fundo-principal: #222222;
    --texto: #e0e0e0;
    --texto-inverso: #333333;
    --destaque: #ff5522;
    --destaque-inverso:#a73917;
    --fundo-card: #444444;
}

body {
    background-color: var(--fundo-principal);
    transition:  background-color 0.5s, color 0.5s;
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.302);
}

header nav{
    display: flex;
    flex-flow: row nowrap;

}

header > nav span {
    color: var(--fundo-principal);
    margin-left: 12px;
    margin-right: 12px;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

header > nav > a{
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
}

header span:hover {
    background-color: rgba(255, 255, 255, 0.476);
    border-radius: 2px;
    cursor: pointer;
}

.icon {
    padding: 10px 6px 7px 6px;
    color: var(--destaque);
    font-size: 20px;
    margin-top: 10px;
    
}

a:visited {
    color: var(--destaque);
}



a> i:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
    border-radius: 3px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 15px;
}

section span{
    color: var(--destaque);
    margin-left: 13px;
    margin-right: 13px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
section#myinformation {
    grid-column: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-principal);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.246);
    margin-top: 20px;
}
section#myinformation > img {
    padding: 2px;
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: fill;
    border: 3px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
}

section#myinformation > div {
    border: 5px solid var(--cor3);
    border-radius: 50%;
    width: 215px;
    height: 203px;
    padding: 2px;

}

#myinformation > h1 {
    align-self: flex-start;
    font-family: var(--fonte-destaque);
    font-weight: 600;
    font-size: 1.7em;
    color: var(--destaque);
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom: 10px;
}

#myinformation  > p {
    text-align: justify;
    line-height: 1.3em;
    font-size: 1em;
}


#presentation {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 6px;
    padding: 15px;
}

#presentation > iframe {
    width:100%;
    border-radius: 6px;
}

#presentation > h1{
    color: var(--destaque);
    padding: 10px;
    
}

#myskills {
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 6px;
    font-family: var(--fonte-normal);
    font-weight: bolder;

}

#myskills div.skill-info span {
    color: black;
}

#myskills > h1 {
    color: var(--destaque);
    padding: 10px;
}


.skill-info {
    display: flex;
    justify-content: space-between;
}

.skill-percent {
    margin-right: 11px;
    color: var(--destaque);
    font-weight: bolder;
}

#myskills p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.container1 {
    display: flex;
    flex-flow: row nowrap;
    width: 95%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: 0px 15px 15px 15px;
}

.skill-info span{
 
}
#myskills progress {
    width: 100%;
    height: 10px;
}
progress {
    appearance: none; /* 🔥 importante */
}

progress::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: var(--destaque-inverso); /* 👈 muda aqui */
    border-radius: 10px;
}



#education {
    grid-column: 2;
    background-color: var(--fundo-card);
    font-family: var(--fonte-normal);
    border-radius: 6px;
}

#education > h1 {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    color: var(--destaque);
}

#education p {
    font-size: 0.8em;
}

#education div.container {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--destaque-inverso);
    margin: 5px 15px 15px 15px;
    border-radius: 6px;
    overflow: hidden;
}

#education div.item1{
    background-color: var(--fundo-principal);
    margin-left: 3px;
    border-radius: 0px 6px 6px 0px;
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

#education div.item1:hover {
    transform: translateX(8px);
    cursor: pointer;
}

#education > div.container > div.item1 > p{
    padding-left: 8px;
}

#education .year-formation {
    color: var(--texto);
    font-weight: bolder;
    padding-top: 2px;
}

#education .local-formation {
    color: var(--destaque-inverso);
}

#education .learned-content {
    color:var(--texto);
    padding-bottom: 2px;
}



#projectos {
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 6px;
}

#projectos div.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 5px 15px 15px 15px;
    background-color: var(--destaque-inverso);
    border-radius: 6px;
    overflow: hidden;

}

#projectos h1 {
    color: var(--destaque);
    font-family: var(--fonte-destaque);
    font-weight: bold;
}

#projectos div.item2 {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3px;
    padding-top: 4px;
    border-radius: 0px 6px 6px 0px;
    background-color: var(--fundo-principal);
}

#projectos div.item2:hover {
    transition: transform 0.4s ease-in-out;
    transform: translateX(8px);
    cursor: pointer;
}

#projectos div.item2 > div.content > p, details, h4{
    padding: 0px 0px 0px 6px;
    font-size: 0.9em;
    line-height: 1.3em;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.065);
}

#projectos div.item2 > img {
    margin: 8px 8px 8px 8px;
    border-radius: 2px;
}

#projectos details {
    margin-bottom: 7px;
}

#projectos  details  p {
    padding-left: 8px;
} 

#projectos a {
    text-decoration: none;
    color: var(--destaque-inverso);
}

#projectos .link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#projectos .content {
    padding-left: 5px;

}



footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    background-color: rgba(20, 118, 246, 0.051);
    padding: 10px;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.117);
    margin-top: 20px;
}

img {
    max-width: 100%;
}

.dark-mode{
    background-color: black;
}


